<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="templatesPath" value="G:\Park IP OP Drop Box\REFERENCE - Delivery\Certification Templates\"/>
  </appSettings>
</configuration>