<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="excelData" value="Users-Languages.xlsx"/>

    <add key="forwardTranslationFile" value="01 Forward-translation certificate NOVA (v.3).docx"/>
    <add key="forwardTranslationWithStudyFile" value="01 Forward-translation certificate NOVA (v.3)_withStudy.docx"/>
    <add key="backTranslationFile" value="02 Back-translation certificate NOVA (v.3).docx"/>
    <add key="backTranslationWithStudyFile" value="02 Back-translation certificate NOVA (v.3)_withStudy.docx"/>

    <add key="templatesPath" value=""/>
    <add key="filePrefix" value="NOVA Certification – "/>
    
    <add key="sourceLanguageTmpl" value="[source language]" />
    <add key="targetLanguageTmpl" value="[target language]" />
    <add key="novaReferenceTmpl" value="[nova reference]" />
    <add key="studyNumberTmpl" value="[study number]" />
    <add key="fileNameTmpl" value="[file name]" />
    <add key="managerTmpl" value="[manager]" />
  </appSettings>
</configuration>