<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="templatesPath" value="D:\Projects\ParkIP\BulkCertificationToolNova\BulkCertificationToolNova\bin\Debug"/>
  </appSettings>
</configuration>